/* Custom CSS */
body {
    font-family: 'Inter', sans-serif;
    background-color: #F8F8F8; /* Light gray background */
}

/* Custom scrollbar for webkit browsers */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #e0e0e0;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #a0a0a0;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #707070;
}